<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 등록</title>
</head>
<body>
    <h1>설문 질문 등록</h1>
    {% if error_message %}
        <div style="color: red;font-weight: bold;">
            {{error_message}}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <h3>질문</h3>
        <input type="text" name="question_text" value="{{question_text}}" required>
        <h3>보기</h3>
        <div id="choice-layer">
            {% if not choice_list %}
                <div>
                    <input type="text" name="choice_text" required>
                </div>
                <div>
                    <input type="text" name="choice_text" required>
                </div>
            {% else %}
                <!-- vote_create view에서 요청파라미터 검증 실패 후 호출된 경우 기존 입력을 출력 -->
                 {% for choice in choice_list %}
                    <div>
                        <input type="text" name="choice_text" value="{{choice}}" required>
                    </div>
                 {% endfor %}
            {% endif %}
        </div>

        <div id="btn-layer">
            <button type="submit">등록</button>
            <button type="reset">초기화</button>
            <button type="button" id="choice-add-btn">보기추가</button>
            <button type="button" id="choice-del-btn">보기삭제</button>
        </div>
    </form>
    <script>
        const add_btn = document.querySelector("#choice-add-btn")
        const del_btn = document.querySelector("#choice-del-btn")
        add_btn.addEventListener("click", () => {
            const div = document.createElement("div"); // <div></div>
            const input = document.createElement("input"); // <input>
            input.setAttribute("type", "text"); // <input type="text">
            input.setAttribute("name", "choice_text");
            input.setAttribute("required", true);
            div.append(input);//<div><input..></div>
            document.querySelector("#choice-layer").append(div); // choice-layer에 생성한 div 추가
        });

        // 보기 삭제 버튼 event 처리
        del_btn.addEventListener("click", () => {
            // 보기 input 하나를 삭제.
            // 보기 input은 최소 두개는 유지(두개 이하일 경우는 삭제하지 않는다.)
            const choice_layer = document.querySelector("#choice-layer");
            
            // Node.children : 자식노드들을 nodellist로 반환
            if (choice_layer.children.length > 2) {
                // 부모노드.removeChild(삭제할 자식 노드)
                // 노드.lastChild -> 마지막 자식 노드 반환.
                choice_layer.removeChild(choice_layer.lastChild);
            } else {
                // 경고장 (alert("메세지"))
                alert("보기는 세개 이상일 경우만 삭제할 수 있습니다.")
            }
        })
    </script>
</body>
</html>